<div>
    <h2 id="page-heading">
        <span>Apprenants</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-apprenant" [routerLink]="['/apprenant/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Apprenant
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="apprenants">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Firstname</span></th>
            <th><span>Lastname</span></th>
            <th><span>Birthdate</span></th>
            <th><span>Phone</span></th>
            <th><span>Promo</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let apprenant of apprenants ;trackBy: trackId">
                <td><a [routerLink]="['/apprenant', apprenant.id, 'view' ]">{{apprenant.id}}</a></td>
                <td>{{apprenant.firstname}}</td>
                <td>{{apprenant.lastname}}</td>
                <td>{{apprenant.birthdate | date:'mediumDate'}}</td>
                <td>{{apprenant.phone}}</td>
                <td>
                    <div *ngIf="apprenant.promo">
                        <a [routerLink]="['../promo', apprenant.promo?.id, 'view' ]" >{{apprenant.promo?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/apprenant', apprenant.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/apprenant', apprenant.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'apprenant', { outlets: { popup: apprenant.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
