<div>
    <h2 id="page-heading">
        <span>Cours</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cours" [routerLink]="['/cours/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Cours
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="cours">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Theme</span></th>
            <th><span>Duration</span></th>
            <th><span>Apprenant</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cours of cours ;trackBy: trackId">
                <td><a [routerLink]="['/cours', cours.id, 'view' ]">{{cours.id}}</a></td>
                <td>{{cours.theme}}</td>
                <td>{{cours.duration}}</td>
                <td>
                    <span *ngFor="let apprenant of cours.apprenants; let last = last">
                            <a class="form-control-static" [routerLink]="['../apprenant', apprenant?.id, 'view' ]">{{apprenant.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/cours', cours.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/cours', cours.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'cours', { outlets: { popup: cours.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
