<div>
    <h2 id="page-heading">
        <span>Niveaus</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-niveau" [routerLink]="['/niveau/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Niveau
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="niveaus">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Libelle</span></th>
            <th><span>Niveau</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let niveau of niveaus ;trackBy: trackId">
                <td><a [routerLink]="['/niveau', niveau.id, 'view' ]">{{niveau.id}}</a></td>
                <td>{{niveau.libelle}}</td>
                <td>{{niveau.niveau}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/niveau', niveau.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/niveau', niveau.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'niveau', { outlets: { popup: niveau.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
