<div>
    <h2 id="page-heading">
        <span>Formations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-formation" [routerLink]="['/formation/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Formation
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="formations">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Intitule</span></th>
            <th><span>Teacher</span></th>
            <th><span>Cours</span></th>
            <th><span>Niveau</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let formation of formations ;trackBy: trackId">
                <td><a [routerLink]="['/formation', formation.id, 'view' ]">{{formation.id}}</a></td>
                <td>{{formation.intitule}}</td>
                <td>{{formation.teacher}}</td>
                <td>
                    <span *ngFor="let cours of formation.cours; let last = last">
                            <a class="form-control-static" [routerLink]="['../cours', cours?.id, 'view' ]">{{cours.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <div *ngIf="formation.niveau">
                        <a [routerLink]="['../niveau', formation.niveau?.id, 'view' ]" >{{formation.niveau?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/formation', formation.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/formation', formation.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'formation', { outlets: { popup: formation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
