<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="formation">
            <h2><span>Formation</span> {{formation.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Intitule</span></dt>
                <dd>
                    <span>{{formation.intitule}}</span>
                </dd>
                <dt><span>Teacher</span></dt>
                <dd>
                    <span>{{formation.teacher}}</span>
                </dd>
                <dt><span>Cours</span></dt>
                <dd>
                    <span *ngFor="let cours of formation.cours; let last = last">
                        <a [routerLink]="['/cours', cours?.id, 'view' ]">{{cours.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span>Niveau</span></dt>
                <dd>
                    <div *ngIf="formation.niveau">
                        <a [routerLink]="['/niveau', formation.niveau?.id, 'view']">{{formation.niveau?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/formation', formation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
