<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="promo">
            <h2><span>Promo</span> {{promo.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Code</span></dt>
                <dd>
                    <span>{{promo.code}}</span>
                </dd>
                <dt><span>Start</span></dt>
                <dd>
                    <span>{{promo.start}}</span>
                </dd>
                <dt><span>End</span></dt>
                <dd>
                    <span>{{promo.end}}</span>
                </dd>
                <dt><span>Formation</span></dt>
                <dd>
                    <div *ngIf="promo.formation">
                        <a [routerLink]="['/formation', promo.formation?.id, 'view']">{{promo.formation?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/promo', promo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
