<div>
    <h2 id="page-heading">
        <span>Promos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-promo" [routerLink]="['/promo/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Promo
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="promos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Code</span></th>
            <th><span>Start</span></th>
            <th><span>End</span></th>
            <th><span>Formation</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let promo of promos ;trackBy: trackId">
                <td><a [routerLink]="['/promo', promo.id, 'view' ]">{{promo.id}}</a></td>
                <td>{{promo.code}}</td>
                <td>{{promo.start | date:'mediumDate'}}</td>
                <td>{{promo.end | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="promo.formation">
                        <a [routerLink]="['../formation', promo.formation?.id, 'view' ]" >{{promo.formation?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/promo', promo.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/promo', promo.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'promo', { outlets: { popup: promo.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
